<!DOCTYPE html>
<html>
  <head>
    <title>Top Remix Finder</title>
  </head>
  <body>

    <div id="title">
      <h3>Find The Most Popular Remixes</h3>  
    </div>

    <div id="search_form">
      <form action="/search" method="GET">
        <label>Artist Name</label>
        <input name="artist_name"><br />
        <label>Song Title</label>
        <input name="song_title"><br />
        <input type="submit" name="Find Remixes">
      </form>
    </div>

  </body>
</html>